.primary-services {
    min-width: 210px;
    border: 1px dotted black;
    display: inline-block;
    min-height: 135px;
}

.myh {
    color: black;
    border: 1px dotted black;
    font-family: tahoma;
    font-size: 24px;
    text-decoration: underline;
}