<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
    <div class="primary-services">
        <div class="myh"> manage your courses </div>
        <div class="myc"> with our software you can manage your courses </div>
    </div>

    <div class="primary-services">
        <div class="myh"> register students </div>
        <div class="myc">
            <p> with our software you can manage your courses</p>
        </div>
    </div>
</div>





<app-footer></app-footer>